{# {% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block body %}
	<h1>Mon panier</h1>

	{% if panier.lignePaniers|length > 0 %}
		<table>
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				{% set total = 0 %}

				{% for lignePanier in panier.lignePaniers %}

					{% if lignePanier.articles %}
						{% set produit = lignePanier.articles %}
					{% elseif lignePanier.chiot %}
						{% set produit = lignePanier.chiot %}
					{% endif %}

					{% set ligneTotal = produit.prix * lignePanier.quantite %}
					{% set total = total + ligneTotal %}

					<tr>
						<td>
							{% if lignePanier.articles %}
								{{ lignePanier.articles.nomProduit }}
							{% else %}
								Chiot -
								{{ lignePanier.chiot.sexe }}
							{% endif %}
						</td>

						<td>{{ produit.prix }}
							€</td>
						<td>{{ lignePanier.quantite }}</td>
						<td>{{ ligneTotal|number_format(2, ',', ' ') }}€</td>
						<td>
							<a href="{{ path('app_panier_remove', {'id': lignePanier.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
						</td>
					</tr>

				{% endfor %}

			</tbody>
		</table>

		<p>
			<strong>Total du panier :</strong>
			{{ total|number_format(2, ',', ' ') }}
			€</p>
		<a href="{{ path('app_panier_valider') }}" class="btn btn-success">Valider mon panier</a>

	{% else %}
		<p>Votre panier est vide.</p>
	{% endif %}

{% endblock %} #}
