{% extends 'base.html.twig' %}

{% block title %}Chiots index
{% endblock %}

{% block body %}
	<h1>Chiots index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Sexe</th>
				<th>Couleur_collier</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			{% for chiot in chiots %}
				<tr>
					<td>{{ chiot.sexe }}</td>
					<td>{{ chiot.couleurCollier }}</td>
					<td>{{ chiot.prix }}</td>

					<td>
						{% if not chiot.estVendu %}
							<a href="{{ path('app_cart_add_chiot', {'id': chiot.id}) }}" class="btn btn-success btn-sm">
								Réserver
							</a>
						{% else %}
							<span class="text-danger">Déjà vendu</span>
						{% endif %}
					</td>

					<td>
						<a href="{{ path('app_chiots_edit', {'id': chiot.id}) }}">
							Modifier
						</a>
					</td>
				</tr>
			{% endfor %}


		</tbody>
	</table>

	<a href="{{ path('app_chiots_new') }}">Ajouter un nouveau chiot</a>

{% endblock %}
