{% extends 'base.html.twig' %}

{% block title %}Chiots index{% endblock %}

{% block body %}
    <h1>Chiots index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th>
                <th>Id_chiot</th> #}
                <th>Sexe</th>
                <th>Couleur_collier</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for chiot in chiots %}
            <tr>
                {# <td>{{ chiot.id }}</td>
                <td>{{ chiot.idChiot }}</td> #}
                <td>{{ chiot.sexe }}</td>
                <td>{{ chiot.couleurCollier }}</td>
                <td>
                    {# <a href="{{ path('app_chiots_show', {'id': chiot.id}) }}">Modifier</a> #}
                    <a href="{{ path('app_chiots_edit', {'id': chiot.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chiots_new') }}">Ajouter un nouveau chiot</a>
{% endblock %}
