{% extends 'base.html.twig' %}

{% block title %}Chiots{% endblock %}

{% block body %}
    <h1>Chiots</h1>

    {# Tableau Bootstrap pour afficher les détails d’un chiot #}
    <table class="table">
        <tbody>
            
            <tr>
                <th>Sexe</th>
                <td>{{ chiot.sexe }}</td>
            </tr>
            <tr>
                <th>Couleur_collier</th>
                <td>{{ chiot.couleurCollier }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ chiot.prix|number_format(2, ',', ' ') }}</td>
            </tr>
        </tbody>
    </table>

    {# Lien retour à la liste des chiots #}
    <a href="{{ path('app_chiots_index') }}">Retour à la liste</a>

    {# Lien pour modifier ce chiot #}
    <a href="{{ path('app_chiots_edit', {'id': chiot.id}) }}">Modifier</a>

    {# Inclusion du formulaire de suppression #}
    {{ include('chiots/_delete_form.html.twig') }}
{% endblock %}
