{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Id_utilisateur</th>
                <td>{{ utilisateur.idUtilisateur }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Password_hash</th>
                <td>{{ utilisateur.passwordHash }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.adresse }}</td>
            </tr>
            {# <tr>
                <th>Role</th>
                <td>{{ utilisateur.role }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_index') }}">Retour</a>

    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">Editer</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
