<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
		<title>
			{% block title %}Les Gardiens du Trident
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/Logo.png') }}">

		<body class="{% block body_class %}{% endblock %}">

			{% block javascripts %}
				{% block importmap %}
					{{ importmap('app') }}
				{% endblock %}
			{% endblock %}
		</body>
	</head>
	<body>
		<header>
			<nav class="nav_container">


				<div class="nav-links">

					

					<ul class="nav-list">

					<a href="{{ path('app_home') }}" class="navbar-brand">
						<img src="{{ asset('images/logo.png') }}" alt="Logo Mon Élevage" width="150" height="auto">
					</a>

						{# <li>
							<a href="{{ path('app_home') }}">ACCUEIL</a>
						</li> #}
						<li>
							<a href="{{ path('app_elevage') }}">NOTRE ÉLEVAGE</a>
						</li>
						<li>
							<a href="{{ path('app_geant') }}">NOS GÉANTS</a>
						</li>
						<li>
							<a href="{{ path('app_quotidient') }}">LE QUOTIDIENT</a>
						</li>
						<li>
							<a href="{{ path('app_contact') }}">CONTACT</a>
						</li>
						<li>
							<a href="{{ path('app_chiots') }}">DISPONIBILITÉ DES CHIOTS</a>
						</li>
					</ul>
				</div>


				<!-- Navigation utilisateur -->
				<div class="nav-user">
					{% if app.user %}
						<a href="{{ path('app_articles_index') }}">Articles</a>
						<a href="{{ path('app_panier') }}">Panier</a>
						<a href="{{ path('app_user') }}">Mon profil</a>
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
						{% else %}
						{# <a href="{{ path('app_login') }}">Connexion</a> #}
					{% endif %}
				</div>


				<!-- Admin -->
				{% if is_granted('ROLE_ADMIN') %}
					<div class="nav-admin">
						<span>Panneau Admin :</span>
						<a href="{{ path('app_articles_new') }}">Ajouter un Article</a>
						<a href="{{ path('app_chiots_new') }}">Ajouter un Chiot</a>
						<a href="{{ path('app_categorie_new') }}">Ajouter une Catégorie</a>
						<a href="{{ path('app_commande_index') }}">Commandes</a>
					</div>
				{% endif %}
			</nav>
		</header>


		{% block body %}{% endblock %}

		<footer class="site_footer">

			<div class="footer-title">
				<h2>LES GARDIENS DU TRIDENT</h2>
			</div>

			<div class="footer-content">

				<div class="footer-column">
					<h4>NAVIGATION</h4>
					<ul>
						<li><a href="{{path('app_elevage')}}">Notre Élevage</a></li>
						<li><a href="{{path('app_geant')}}">Nos Géants</a></li>
						<li><a href="{{path('app_quotidient')}}">Le Quotidient</a></li>
						<li><a href="{{path('app_contact')}}">Contact</a></li>
					</ul>
				</div>

				<div class="footer-column">
					<h4>INFORMATIONS</h4>
					<ul>
						<li>Conditions Générales</li>
						<li>Politique de Confidentialité</li>
					</ul>
				</div>

				<div class="footer-column">
					<h4>RESAUX SOCIAUX</h4>
					<div class="social-icons">
						<img src="{{ asset('images/logo-instagram.svg') }}" alt="Instagram" width="30">
						<img src="{{ asset('images/logo-whatsapp.svg') }}" alt="Whatsapp" width="30">
					</div>
				</div>
			</div>

			<div class="footer-logo">
				<a href="{{ path('app_home') }}" class="navbar-brand">
						<img src="{{ asset('images/logo.png') }}" alt="Logo Mon Élevage" width="150" height="auto">
					</a>
			</div>
		</footer>
	</body>
</html>
